.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
  }
  .card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 850px;
    height: auto;
  }
  
  .card-header {
    background-color: #ffa34e;
    color: #fff;
    padding: 15px;
    border-bottom: none;
  }
  
  .card-header h3 {
    margin: 0;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
  }
  
  .table th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
  }
  
  .table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .btn-success {
      background-color: #ff6600;
      color: white;
      border: none;
      margin-left: 5%;
    }
    
    .btn-success:hover {
      background-color: #000000;
    }
    
    .btn-danger {
      background-color: #c82333;
      color: white;
      border: none;
    }
    
    .btn-danger:hover {
      background-color: #000000;
    }